header{
    background-color: #f7e58ab8;
    color: white;
    text-align: center;
    padding: 1em;
  }
  footer {
      background-color: #f7e58ab8;
      color: white;
      text-align: center;
      padding: 1em;
      margin-top: 20px;
    }
  